
<h1>DarkSpeed Admin Console</h1>
<p>Main server status: <%= Darksocks::Server.running? :main %>
<%= button_to "Start the Main server", "/console/start_main", method: :post%>
<%= button_to "Stop the Main server", "/console/stop_main", method: :post %>
</p>
<p>
Gateway status: <%= Darksocks::Server.running? :gateway %>
<%= button_to "Start the gateway server", "/console/start_gateway", method: :post %>
<%= button_to "Stop the gateway server", "/console/stop_gateway", method: :post %>
</p>
